<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecurePassGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SecurePassGen.Properties.Settings>
            <setting name="UseUpper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDigits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSymbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeSimilar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequireEachType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CustomSymbols" serializeAs="String">
                <value>!@#$%^&amp;*()_+-=[]{}|;:',.&lt;&gt;?/</value>
            </setting>
        </SecurePassGen.Properties.Settings>
    </userSettings>
</configuration>